node_modules/.bin/is-docker
node_modules/define-lazy-prop/index.d.ts
node_modules/define-lazy-prop/index.js
node_modules/define-lazy-prop/license
node_modules/define-lazy-prop/package.json
node_modules/define-lazy-prop/readme.md
node_modules/fsevents/fsevents.d.ts
node_modules/fsevents/fsevents.js
node_modules/fsevents/fsevents.node
node_modules/fsevents/LICENSE
node_modules/fsevents/package.json
node_modules/fsevents/README.md
node_modules/is-docker/cli.js
node_modules/is-docker/index.d.ts
node_modules/is-docker/index.js
node_modules/is-docker/license
node_modules/is-docker/package.json
node_modules/is-docker/readme.md
node_modules/is-wsl/index.d.ts
node_modules/is-wsl/index.js
node_modules/is-wsl/license
node_modules/is-wsl/package.json
node_modules/is-wsl/readme.md
node_modules/open/index.d.ts
node_modules/open/index.js
node_modules/open/license
node_modules/open/package.json
node_modules/open/readme.md
node_modules/open/xdg-open
